[2015-10-22 15:34] gthompson opened #2 "Translate calls to old catalog class to new catalog class"
_From @gthompson on August 20, 2015 12:13_

At USF I overhauled the catalog class, replacing it with Catalog_full and Catalog_lite which are subclasses (I.e. they inherit from) Catalog_base. In old catalog, users called the constructor directly. In new style, users call readCatalog. Formats supported include Seisan S-files, CSS3.0 flat files (e.g. Antelope), irisFetch etc. But to provide backward

[2015-10-22 15:35] gthompson opened #3 "datasource rework"
_From @CelsoReyes on August 7, 2015 8:45_

see [wiki](https://github.com/giseislab/gismotools/wiki/datasource-rethink) for details. Soliciting feedback.

_Copied from original issue: giseislab/gismotools#50_

[2015-10-22 15:36] gthompson opened #4 "Reorganize repository directory structure"
_From @gthompson on August 12, 2015 9:26_

Quick suggestion:

GISMO/classes - all core classes go here (both old and new style)

GISMO/packages - any core packages go here unless they are make sense only for a single class, in which case they can go in the respective class directory

GISMO/contributed, GISMO/contributed_antelope, GISMO/contributed_internal as before, but as some point we might nee

[2015-10-22 15:36] gthompson commented on #4
_From @CelsoReyes on August 12, 2015 10:54_

I think that things like the uispecgram code can get put into GISMO/applications as you've suggested.
I'm not sure I understand the breakdown between GISMO/classes and GISMO/packages.

Also, I'm still not up to date on what contributed packages and stuff really consist of, but your suggestion to change it seems sound.

Additional question(s):
- GISMO/de

[2015-10-22 15:37] gthompson opened #5 "catalog class: Improve the filtering/selection options for loading/subsetting catalog data"
_From @gthompson on August 4, 2015 1:3_

_Copied from original issue: giseislab/gismotools#49_

[2015-10-22 15:37] gthompson opened #6 "Make a class for units"
_From @CelsoReyes on August 1, 2015 22:44_

which would be used by waveform & friends,
So it can handle integrate and diff, for example.

_Copied from original issue: giseislab/gismotools#47_

[2015-10-22 15:38] gthompson opened #7 "Comprehensive list of GISMO functions"
_From @CelsoReyes on August 1, 2015 22:43_

From John Lyons

This corresponds to GISMO in general, I would think.

_Copied from original issue: giseislab/gismotools#46_

[2015-10-22 15:38] gthompson opened #8 "Read more than 24 hrs from Winston db"
_From @CelsoReyes on August 1, 2015 22:42_

From John Lyons:

_Copied from original issue: giseislab/gismotools#45_

[2015-10-22 15:38] gthompson opened #9 "correlation/conv and deconv not functional"
_From @GoogleCodeExporter on August 1, 2015 21:51_

[code]

Original issue reported on code.google.com by `mew...@gmail.com` on 23 Jan 2010 at 8:26

_Copied from original issue: giseislab/gismotools#3_

[2015-10-22 15:38] gthompson commented on #9
_From @GoogleCodeExporter on August 1, 2015 21:51_

Original comment by `mew...@gmail.com` on 23 Jan 2010 at 8:30
- Changed state: **Started**

[2015-10-22 15:38] gthompson commented on #9
_From @GoogleCodeExporter on August 1, 2015 21:51_

Original comment by `mew...@alaska.edu` on 10 Feb 2011 at 4:02
- Added labels: **Priority-Low**, **Type-Enhancement**
- Removed labels: **Priority-Medium**, **Type-Defect**

[2015-10-22 15:38] gthompson opened #10 "More load_sac issues ..."
_From @GoogleCodeExporter on August 1, 2015 21:51_

[code]

Original issue reported on code.google.com by `mew...@alaska.edu` on 23 Feb 2012 at 11:54

_Copied from original issue: giseislab/gismotools#30_

[2015-10-22 15:38] gthompson commented on #10
There seem so be so many functions for reading SAC files into MATLAB, e.g.:
http://uk.mathworks.com/matlabcentral/fileexchange/46356-rdsac--read-a-sac-seismic-data-file
http://uk.mathworks.com/matlabcentral/fileexchange/5546-sacsun2mat-sacpc2mat
http://geophysics.eas.gatech.edu/people/zpeng/Teaching/MatSAC.tar.gz
http://web.utah.edu/thorne/software.html
...

are any of these an even better startin

[2015-10-22 15:38] gthompson commented on #10
_From @CelsoReyes on August 14, 2015 13:13_

I haven't checked out the other ones, but Thorne's stuff isn't appropriate. When Mike West refers to "organically grown"... it organically grew out of Thorne's codes.  MatSAC.tar.gz looks like it also grew from Thorne's stuff.  However, he designed it entirely for different set of uses (replecating the sac console commands), and it was hard to debug, ev

[2015-10-22 15:38] gthompson opened #11 "Antelope response tools not yet functional"
_From @GoogleCodeExporter on August 1, 2015 21:51_

[code]

Original issue reported on code.google.com by `mew...@gmail.com` on 27 Jan 2010 at 11:22

_Copied from original issue: giseislab/gismotools#4_

[2015-10-22 15:38] gthompson opened #12 "correlation constructor misbehaving on gappy waveforms."
_From @GoogleCodeExporter on August 1, 2015 21:51_

[code]

Original issue reported on code.google.com by `mew...@gmail.com` on 6 Apr 2010 at 12:32

_Copied from original issue: giseislab/gismotools#11_

[2015-10-22 15:39] gthompson opened #13 "Correlation/plot chokes when there is only one trace"
_From @GoogleCodeExporter on August 1, 2015 21:51_

[code]

Original issue reported on code.google.com by `mew...@alaska.edu` on 18 Dec 2010 at 12:42

_Copied from original issue: giseislab/gismotools#16_

[2015-10-22 15:39] gthompson opened #14 "Waveform not spanning Antelope day database boundaries"
_From @GoogleCodeExporter on August 1, 2015 21:51_

[code]

Original issue reported on code.google.com by `mew...@alaska.edu` on 10 Feb 2011 at 11:11

_Copied from original issue: giseislab/gismotools#22_

[2015-10-22 15:39] gthompson opened #15 "Remove/replace loadsac?"
_From @GoogleCodeExporter on August 1, 2015 21:51_

[code]

Original issue reported on code.google.com by `mew...@alaska.edu` on 17 Feb 2011 at 5:00

_Copied from original issue: giseislab/gismotools#23_

[2015-10-22 15:39] gthompson commented on #15
_From @GoogleCodeExporter on August 1, 2015 21:51_

Original comment by `mew...@alaska.edu` on 17 Feb 2011 at 5:00
- Added labels: **Type-Enhancement**
- Removed labels: **Type-Defect**

[2015-10-22 15:39] gthompson commented on #15
There are so many options for loading SAC files, e.g.:

@waveform/private/load_sac.m
contributed/sac_file_tools/+sac/load.m
http://uk.mathworks.com/matlabcentral/fileexchange/46356-rdsac--read-a-sac-seismic-data-file
http://uk.mathworks.com/matlabcentral/fileexchange/5546-sacsun2mat-sacpc2mat
http://geophysics.eas.gatech.edu/people/zpeng/Teaching/MatSAC.tar.gz
http://web.utah.edu/thorne/software.h

[2015-10-22 15:39] gthompson commented on #15
_From @CelsoReyes on August 15, 2015 19:57_

Huh. somehow I missed contributed sac.  I whipped up a solution into its
own project (for the moment)
On Aug 14, 2015 15:24, "Glenn Thompson" notifications@github.com wrote:

[2015-10-22 15:40] gthompson opened #16 "dbclose error on loading Antelope data with waveform"
_From @GoogleCodeExporter on August 1, 2015 21:51_

[code]

Original issue reported on code.google.com by `gthomp...@alaska.edu` on 5 Oct 2011 at 10:43

_Copied from original issue: giseislab/gismotools#27_

[2015-10-22 15:40] gthompson commented on #16
It would be useful to capture the actual calls made by waveform to the Antelope Toolbox for MATLAB, isolate the relevant waveform data and database table entries, and then create a standalone issue that could be reported to BRTT. I suspect the error message is being generated in the Antelope compiled C code because there is something wrong with the database integrity. So this problem might link to

[2015-10-22 15:40] gthompson commented on #16
_From @CelsoReyes on August 14, 2015 8:7_

in a newer datasource, we can maybe turn on logging of some sort? that
would probably be useful.

On Fri, Aug 14, 2015 at 12:34 AM, Glenn Thompson notifications@github.com
wrote:

[2015-10-22 15:40] gthompson opened #17 "get_antelope_traces fails when data files are missing"
_From @GoogleCodeExporter on August 1, 2015 21:51_

[code]

Original issue reported on code.google.com by `mew...@alaska.edu` on 8 Nov 2011 at 9:41

_Copied from original issue: giseislab/gismotools#28_

[2015-10-22 15:40] gthompson opened #18 "SAC files aren't recording location codes"
_From @GoogleCodeExporter on August 1, 2015 21:51_

[code]

Original issue reported on code.google.com by `celsobor...@gmail.com` on 22 Nov 2011 at 1:23

_Copied from original issue: giseislab/gismotools#29_

[2015-10-22 15:40] gthompson commented on #18
_From @GoogleCodeExporter on August 1, 2015 21:51_

[code]

Original comment by `mew...@alaska.edu` on 22 Nov 2011 at 9:47

[2015-10-22 15:40] gthompson opened #19 "More load_sac issues ..."
_From @GoogleCodeExporter on August 1, 2015 21:51_

[code]

Original issue reported on code.google.com by `mew...@alaska.edu` on 23 Feb 2012 at 11:54

_Copied from original issue: giseislab/gismotools#30_

[2015-10-22 15:40] gthompson commented on #19
There seem so be so many functions for reading SAC files into MATLAB, e.g.:
http://uk.mathworks.com/matlabcentral/fileexchange/46356-rdsac--read-a-sac-seismic-data-file
http://uk.mathworks.com/matlabcentral/fileexchange/5546-sacsun2mat-sacpc2mat
http://geophysics.eas.gatech.edu/people/zpeng/Teaching/MatSAC.tar.gz
http://web.utah.edu/thorne/software.html
...

are any of these an even better startin

[2015-10-22 15:40] gthompson commented on #19
_From @CelsoReyes on August 14, 2015 13:13_

I haven't checked out the other ones, but Thorne's stuff isn't appropriate. When Mike West refers to "organically grown"... it organically grew out of Thorne's codes.  MatSAC.tar.gz looks like it also grew from Thorne's stuff.  However, he designed it entirely for different set of uses (replecating the sac console commands), and it was hard to debug, ev

[2015-10-22 15:40] gthompson commented on #19
This issue was moved to geoscience-community-codes/GISMO#10

[2015-10-22 15:41] gthompson opened #20 "bug in wiggleplot.m ?"
_From @GoogleCodeExporter on August 1, 2015 21:51_

[code]

Original issue reported on code.google.com by `lidun...@gmail.com` on 17 Sep 2012 at 4:37

_Copied from original issue: giseislab/gismotools#33_

[2015-10-22 15:41] gthompson commented on #20
_From @GoogleCodeExporter on August 1, 2015 21:51_

[code]

Original comment by `mew...@gmail.com` on 17 Sep 2012 at 2:30

[2015-10-22 15:41] gthompson opened #21 "Waveform loading from Winston is complicated by new Swarm files"
_From @GoogleCodeExporter on August 1, 2015 21:51_

[code]

Original issue reported on code.google.com by `mew...@alaska.edu` on 28 Aug 2013 at 7:15

_Copied from original issue: giseislab/gismotools#34_

[2015-10-22 15:41] gthompson commented on #21
_From @CelsoReyes on August 13, 2015 14:28_

Is this still an issue? If so I can try to look into it.  Datasource will probably get a strong rework, so If we can figure out a standard behavior, that'd be great.

[2015-10-22 15:41] gthompson opened #22 "Waveform loading from Winston is complicated by new Swarm files"
_From @GoogleCodeExporter on August 1, 2015 21:51_

[code]

Original issue reported on code.google.com by `mew...@alaska.edu` on 28 Aug 2013 at 7:15

_Copied from original issue: giseislab/gismotools#34_

[2015-10-22 15:41] gthompson commented on #22
_From @CelsoReyes on August 13, 2015 14:28_

Is this still an issue? If so I can try to look into it.  Datasource will probably get a strong rework, so If we can figure out a standard behavior, that'd be great.

[2015-10-22 15:41] gthompson commented on #22
This issue was moved to geoscience-community-codes/GISMO#21

[2015-10-22 15:42] gthompson opened #23 "proposed scnlobject changes"
_From @GoogleCodeExporter on August 1, 2015 21:51_

[code]

Original issue reported on code.google.com by `celsobor...@gmail.com` on 5 Sep 2014 at 1:36

Attachments:
- [@scnlobject.zip](https://storage.googleapis.com/google-code-attachments/gismotools/issue-35/comment-0/@scnlobject.zip)

_Copied from original issue: giseislab/gismotools#35_

[2015-10-22 15:42] gthompson commented on #23
_From @GoogleCodeExporter on August 1, 2015 21:51_

[code]

Original comment by `celsobor...@gmail.com` on 5 Sep 2014 at 1:39

[2015-10-22 15:42] gthompson opened #24 "Update Waveform to take advantage of timeseries objects"
_From @CelsoReyes on August 1, 2015 22:31_

I looked into this, and realize that (on r2012b, on Macbook air) timeseries takes significantly longer than the current implementation.

I tested with 1 day of data at 100 samples / second

[code]

tests:

[code]

so the size is about the same. good!

[code]

apparently the built-in timeseries is 5-10 times slower for these basic operations.

_Copied fro

[2015-10-22 15:42] gthompson opened #25 "Remove globals"
_From @CelsoReyes on August 1, 2015 22:32_

Look for globals that aren't required anymore, clean them up.
Replace globals with getpref / setpref if they belong to some system setup.

_Copied from original issue: giseislab/gismotools#37_

[2015-10-22 15:42] gthompson opened #26 "Set preferences"
_From @CelsoReyes on August 1, 2015 22:34_

Move or create preferences for appropriate values.
Implement using getpref / setpref
Related to Issue #37

Note: as tested, getpref('WaveformSuite','UseHistory') has a 0.002s overhead.

_Copied from original issue: giseislab/gismotools#38_

[2015-10-22 15:42] gthompson commented on #26
_From @CelsoReyes on August 13, 2015 14:19_

The above note looks like a small amount, but adds up quickly depending on where it is used.  I've opted not to include "UseHistory" as a preference at all, since the history was ripped out of most of waveform.

## implementing getpref / setpref:
- In order to reduce overhead, it can be wrapped in a class that reads the preference into a Const variable.

[2015-10-22 15:43] gthompson opened #27 "Identify how waveform is used in gismo"
_From @CelsoReyes on August 1, 2015 22:35_

See how the waveform is being used or bypassed in GISMO. If appropriate, add functionality to waveform to simplify this.

_Copied from original issue: giseislab/gismotools#39_

[2015-10-22 15:43] gthompson opened #28 "allow shortcuts in basic math operations (+,-, .*, .^, etc)"
_From @CelsoReyes on August 1, 2015 22:36_

Operations run faster when I use `w.data` instead of `get(w,'data')`.
also, checking for identity operator costs very little, yet can provide decent speedup if used.

[code]

_Copied from original issue: giseislab/gismotools#40_

[2015-10-22 15:43] gthompson commented on #28
_From @CelsoReyes on August 13, 2015 14:21_

contraindication is that code gets a little more complex.  Only a little, though.

[2015-10-22 15:43] gthompson opened #29 "Rip out history"
_From @CelsoReyes on August 1, 2015 22:37_

Remove automatic history tracking from the waveform objects.

Reasoning: Bloat, processing time, and code maintainability.

_Copied from original issue: giseislab/gismotools#41_

[2015-10-22 15:43] gthompson commented on #29
_From @CelsoReyes on August 13, 2015 14:12_

The history-related functions still work, but I've removed the option for "Nohist" and taken history recording out of almost all base waveform functions.  (ex. add, subtract, etc.)  These changes were merged into the main when I merged the scnl_rework branch back in.

[2015-10-22 15:43] gthompson opened #30 "Tracked waveform loading"
_From @CelsoReyes on August 1, 2015 22:38_

from Mike West's email:

_Copied from original issue: giseislab/gismotools#42_

[2015-10-22 15:43] gthompson opened #31 "Subsample for plotting"
_From @CelsoReyes on August 1, 2015 22:39_

From Emily with response from Dane

_Copied from original issue: giseislab/gismotools#43_

[2015-10-22 15:44] gthompson opened #32 "Options for dealing with gappy data"
_From @CelsoReyes on August 1, 2015 22:40_

From John Lyons

_Copied from original issue: giseislab/gismotools#44_

[2015-10-22 15:44] gthompson commented on #32
Some information here on how ObsPy handles missing values and overlaps:
http://docs.obspy.org/packages/autogen/obspy.core.trace.Trace.__add__.html
http://docs.scipy.org/doc/numpy/reference/maskedarray.generic.html

For waveform I think the most useful default behaviour is that if I ask for data from (say) 01:00:00 to 02:00:00, but data are missing from 01:03:35 to 01:19:57 then I should get back t

[2015-10-22 15:44] gthompson commented on #32
_From @CelsoReyes on August 14, 2015 8:6_

Agreed

That is something I've thought about, but have decided against because + is really a secondary-sort of concatenate.  When you read

[code]

you would have to interpret each `+` differently.  Otherwise, ex.B could be appending the number 5 to the data in w3.

For consistentcy's sake, I would rather be super-clear that I'm concatenating.
For guidanc

[2015-10-23 11:59] CelsoReyes commented on #29
### Executive summary of History tracking

#### History of history

History tracking was added to the waveform objects, and had been incorporated into most activities, including simple mathamatics.  It has been capable of not only storing summaries of what had happened to the Waveform, but could also store other objects, such as filters, that were used.  Because several operations were complex, th

[2015-10-23 11:59] #29 closed, assigned to nobody

[2015-10-23 12:35] #24 closed, assigned to CelsoReyes

[2015-10-23 12:36] CelsoReyes commented on #6
A class exists, but it is in its infancy, and hasn't been implemented yet.
measurementunit

[2015-11-02 22:40] gthompson opened #33 "waveform error on antelope database"
Problem encountered by Alex Farrell at USF using latest GISMO:

Error in load_antelope>buildAntelopeCriteria (line 115)
      critList(N).group(4) = grabCritList('loc', chanTag(N).location);

Error in load_antelope (line 24)
   [criteria, nCriteria] = buildAntelopeCriteria(chanInfo);

Error in load_from_datasource (line 14)
   w = getter(request);

Error in waveform/waveformFromDatasource (line 16

[2015-11-10 21:30] gthompson commented on #33
Latest error message from Alex Farrell:
Now, running the same w_raw = waveform(ds, scnl, eq(earthquake_number).snum, eq(earthquake_number).enum);
With enum as datenum(2011, 8, 21, 12, 47, 5) and snum as datenum(2011, 8, 21, 12, 46, 47)
I get different errors:

Error using load_antelope>crit2expression (line 332)
Not enough input arguments.

Error in load_antelope>getAsExpressions (line 324)
   eac

[2015-11-11 01:57] gthompson opened #35 "correlation cookbook no longer works"
Error in correlation (line 375)
    elseif ~check(c,'SAMP')

Has "samp" been renamed to something like "samplerate"?

[2015-11-11 03:29] gthompson opened #36 "medfilt1 namespace clash"
When Carl Tape runs this:

fs = 100;
t = 0:1/fs:1;
x = sin(2_pi_t_3)+0.25_sin(2_pi_t*40);
y = medfilt1(x,10);
figure,clf
plot(t,x,t,y),grid on
xlabel 'Time (s)',ylabel Signal
legend('Original','Filtered')
legend boxoff

He gets this error:

Error using hg.root/get
The name 'start' is not an accessible property for an instance of class 'root'.
Error in medfilt1 (line 18)
    s = get(w(n),'start');

[2015-11-11 03:39] gthompson commented on #36
medfilt1 is also a GISMO function contributed Dane Ketner that operates on a waveform object

Solution:
- moved GISMO medfilt1 into a package called 'waveform_extensions'.
- added a test "test_medfilt1.m" to test Carl Tape's script above. It now returns this image:
  ![medfilt1_test](https://cloud.githubusercontent.com/assets/233816/11083301/3fdb1ffe-87da-11e5-87e8-d7a57943866f.png)

[2015-11-11 03:39] gthompson commented on #36
An alternative would be to add it directly as a method to waveform, which would then only execute GISMO medfilt1 if the first argument was a waveform object. We have to be careful not to clutter up waveform (and other classes) with rarely used methods, but some are worth promoting. What do you think Celso?

[2015-11-11 09:36] CelsoReyes commented on #35
The correlation cookbook doesn't work:

[code]

There are a couple problems:
The files within a class directory aren't allowed to be on the matlab file path, not allowing one to call it directly.
the name 'correlation_cookbook' has been changed to cookbook
scripts within a class directory cannot be accessed.

Solution: Turn the cookbook into a function, and if desired, export the data into the wor

[2015-11-11 10:22] CelsoReyes commented on #35
I think the cookbook is valuable to let them run it, not merely show the web page. The published cookbook should be an accessible online option?

I have it running now.
- Changed cookbook to be a function (method of correlation)
- cookbook returns workspace variables as a struct (optional return parameter)
- removed call to web() in the constructor. -- paths were too confused. we might need to dis

[2015-11-11 10:23] CelsoReyes commented on #35
btw: check looks for "SAMPLE", while the cookbook asks for "SAMP".  I'm not in favor of using shortened versions of names.

[2015-11-11 10:35] CelsoReyes commented on #36
why use the same name at all?
Anyway, if it's a filter, then it belongs probably as a member of Tracefilter

[2015-11-11 12:19] CelsoReyes commented on #33
I started rewriting to make it easier to read, and may have fixed this bug, too.  Can you try it again with the latest core-work branch?

[2015-11-11 12:21] CelsoReyes commented on #28
closing this. I will not implement in TraceData

[2015-11-11 12:21] #28 closed, assigned to CelsoReyes

[2015-11-11 13:29] CelsoReyes opened #38 "tests not running"
I'm not able to run tests now that they've been put into a package, even after trying to import tests. do they run for you?

runtests()
runtests('test_TraceData')

[2015-11-11 15:32] gthompson commented on #38
Worked on my laptop but not at GI on earlier version of matlab.

Let's unpackage.

-----Original Message-----
From: "Celso" notifications@github.com
Sent: ‎11/‎11/‎2015 4:29 AM
To: "geoscience-community-codes/GISMO" GISMO@noreply.github.com
Cc: "Glenn Thompson" glennthompson1971@gmail.com
Subject: [GISMO] tests not running (#38)

I'm not able to run tests now that they've been put into a package,

[2015-11-11 15:33] gthompson commented on #33
Will do. I last updated USF Gismo 24 hrs ago.

-----Original Message-----
From: "Celso" notifications@github.com
Sent: ‎11/‎11/‎2015 3:19 AM
To: "geoscience-community-codes/GISMO" GISMO@noreply.github.com
Cc: "Glenn Thompson" glennthompson1971@gmail.com
Subject: Re: [GISMO] waveform error on antelope database (#33)

I started rewriting to make it easier to read, and may have fixed this bug, too. C

[2015-11-11 15:36] gthompson commented on #36
Good point. Filtmedian? Method or function?

-----Original Message-----
From: "Celso" notifications@github.com
Sent: ‎11/‎11/‎2015 1:35 AM
To: "geoscience-community-codes/GISMO" GISMO@noreply.github.com
Cc: "Glenn Thompson" glennthompson1971@gmail.com
Subject: Re: [GISMO] medfilt1 namespace clash (#36)

why use the same name at all?
—
Reply to this email directly or view it on GitHub.

[2015-11-11 15:44] gthompson commented on #35
Me neither. Best to be unambiguous.

-----Original Message-----
From: "Celso" notifications@github.com
Sent: ‎11/‎11/‎2015 1:23 AM
To: "geoscience-community-codes/GISMO" GISMO@noreply.github.com
Cc: "Glenn Thompson" glennthompson1971@gmail.com
Subject: Re: [GISMO] correlation cookbook no longer works (#35)

btw: check looks for "SAMPLE", while the cookbook asks for "SAMP". I'm not in favor of usin

[2015-11-11 15:47] gthompson commented on #35
Yes, I would like cookbooks to serve 3 purposes:

(1) they get published to gismo website, and linked in under wiki/tutorials
(2) users can run them, section by section, for learning
(3) we can drive them by a test function as part of integration testing each day we do major updates

-----Original Message-----
From: "Celso" notifications@github.com
Sent: ‎11/‎11/‎2015 1:22 AM
To: "geoscience-commu

[2015-11-11 15:49] gthompson commented on #35
I did not check that correlation cookbook was  a script, or test as I moved. Assumed it was a function promoted to method. My bad.

-----Original Message-----
From: "Celso" notifications@github.com
Sent: ‎11/‎11/‎2015 12:36 AM
To: "geoscience-community-codes/GISMO" GISMO@noreply.github.com
Cc: "Glenn Thompson" glennthompson1971@gmail.com
Subject: Re: [GISMO] correlation cookbook no longer works (#

[2015-11-11 19:03] gthompson opened #39 "trload_css workaround by Carl Tape"
Carl Tape (with Yun Wang) found that when they make a bulk request for waveform objects, they would either get no waveforms or all the waveforms. I found the same with IceWeb. Mike West documented same issue previously. Desired behaviour is to always return same number of waveform objects as requested, even if some are empty (i.e. a waveform object with metadata but no timeseries data).

Carl & Yu

[2015-11-11 19:09] gthompson commented on #39
I ran Carl's other examples too. Problem does not seem currently to be with trload_css. Instead it seems that recent modifications to waveform mean that waveform will not load data from Antelope in any circumstance. About to post a minimal Antelope example as a new issue.

[2015-11-11 19:13] gthompson opened #40 "waveform not loading any data from Antelope"
Here is a minimal example which should load 1 hour of data from the EHZ channel at station RSO on Redoubt on 2009/03/20:

[code]

Result:

Error using cell/ismember>cellismemberR2012a (line 192)
Input A of class cell and input B of class cell must be cell arrays of
strings, unless one is a string.

Error in cell/ismember (line 56)
    [varargout{1:max(1,nargout)}] = cellismemberR2012a(A,B);

Error

[2015-11-11 19:37] gthompson commented on #40
Note that the MiniSEED file does exist. This can be checked with the "listMiniseedFiles" function in the antelope package of core GISMO:

flist =

[code]

(Tried reading this directly with the miniseed class, but that class needs additional work.)

[2015-11-11 20:31] gthompson commented on #36
Looking at this is it very closely related to the waveform/smooth method. Just as that wraps the MATLAB smooth function, this wraps the MATLAB medfilt1 function. So I promoted it to a waveform method. Namespace issue is resolved. (Celso has ultimate decision on whether this should be a waveform method though).

[2015-11-11 20:31] #36 closed, assigned to CelsoReyes

[2015-11-11 21:10] gthompson commented on #17
This test could be implemented by calling https://github.com/geoscience-community-codes/GISMO/blob/master/classes/%2Bantelope/listMiniseedFiles.m

It takes the same arguments as waveform. So I sometimes call it before waveform, e.g.

[code]

[2015-11-11 21:19] gthompson commented on #35
Cannot call correlation.cookbook:

[code]

Undefined variable "correlation" or function "correlation.cookbook".

I think it needs to be a static method. How to do this with the old style of MATLAB OOP?

[2015-11-11 21:23] gthompson opened #41 "correlation CORAL reader should be in waveform"
correlation includes a method to read CORAL format into a waveform. I think this should be migrated into waveform as a read method. Looks like an easy fix.

[2015-11-11 21:26] gthompson commented on #38
Unpackaged. Moved +test to tests. Now able to run:
    run(amplitude_spectrum_test)

Result it runs (but fails - due to fsamp property now being renamed in waveform):

Running amplitude_spectrum_test

#

Uncaught error occurred in amplitude_spectrum_test/testFunctionOne.
The remainder of the test method will not run to completion.

[code]

#

.
Done amplitude_spectrum_test

---

Failure Summary:

[2015-11-11 21:26] #38 closed, assigned to gthompson

[2015-11-11 21:28] gthompson commented on #11
Carl, is this issue resolved? What needs to be done?

[2015-11-11 21:31] gthompson commented on #7
We plan to add the following under the wiki:
- tutorials
- help documentation for each core class/package/method (using m2html?)
  Will this be a satisfactory solution?

[2015-11-12 00:10] carltape commented on #11
I'm not sure what you are referring to. I use the response toolbox
regularly at UAF, but we're not using the latest version.

On Wed, Nov 11, 2015 at 12:28 PM, Glenn Thompson notifications@github.com
wrote:

[2015-11-12 00:20] gthompson commented on #11
Mike opened this issue 5 years ago so I was surprised it was still open. I'm satisfied that Carl is able to use it to deconvolve instrument response. Closing the issue.

[2015-11-12 00:20] #11 closed, assigned to carltape

[2015-11-12 02:05] gthompson commented on #40
Added the function

tests/waveform_antelope_test

and a demo Antelope database at tests/test_data/demodb

So now when running

[code]

Result is:
        scnl =

[code]

[2015-11-12 06:15] CelsoReyes commented on #35
Directly accessing the cookbook using a correlation object is:
`cookbook(correlation)`
which I just tested, and works on both 2012b and 2015b.  Of course it crashes on one of my systems because parts of correlation require additional toolboxes that aren't installed.
this will also work when correlation is updated. however, you're right it should be static and the proper usage will be
`correlation.

[2015-11-12 06:16] #35 closed, assigned to CelsoReyes

[2015-11-12 06:21] CelsoReyes commented on #7
also, check out the way TraceData is documented.
Although the methods within it could perhaps use a little reorganizing, I
consider it the example of my best documented class.

On Wed, Nov 11, 2015 at 10:31 PM, Glenn Thompson notifications@github.com
wrote:

[2015-11-12 06:39] CelsoReyes commented on #40
I just tried it while logging in to badger -- and it worked. (?)

[code]

[2015-11-12 06:41] CelsoReyes commented on #40
BTW this was directly after cloning our git. No other changes were made.
here's the start of my session
[code]

[2015-11-12 06:43] CelsoReyes commented on #40
OH. crud. Using the old one. Sorry!

[2015-11-12 08:22] CelsoReyes commented on #40
OK. I fixed it. There were a few issues.

When I compared criteria to database fields, I had thought that `ismember` could handle a many:many relationship. I was wrong.
New logic has been moved to another subroutine, `keepCriteriaThatMatchDatabaseFields`, which checks for both empty criteria and examines the fields 1-by-1.

For some reason the waveforms aren't being combined yet.

Oh, and I also f

[2015-11-12 13:25] gthompson commented on #40
Awesome - thanks! Big help. Hopefully combine is easier to figure out.

Up at 4am here in Alaska trying to debug why the darn fancy timer thing at ellens rental doesn't come on as temperatures head to -26f. No way to bypass...built into home circuitry....

-----Original Message-----
From: "Celso" <notifications@github.com>
Sent: ‎11/‎11/‎2015 11:22 PM
To: "geoscience-community-codes/GISMO" <GISMO@

[2015-11-13 00:22] gthompson commented on #40
Retested with
    runtests('waveform_antelope_test')

Result - old and new methods both pass:

w =

[3x1] waveform object with fields:
     ChannelTag
     start
     freq
     data
     units
     history
   with common fields...
    'CALIB'
    'CALIBRATION_APPLIED'

.
T =

[3x1] SeismicTrace containing:
net.sta.lo.cha  firstsample       nsamples  samprate     duration
-.RSO..EHZ  2009-03-20 00:

[2015-11-13 00:22] #40 closed, assigned to CelsoReyes

[2015-11-13 02:02] gthompson commented on #39
Following Celso's fix to issue 39 I turned trloadcss_test.m. This first test partially works - with old GISMO Carl found it returned 0 waveform objects. With new GISMO it returns 1. But 2 were requested. The second should be an empty waveform object because there are no data for COR.

[code]

Warning: couldn't open the waveform file for COR:BHZ_00 at  2/15/2009 (046)  0:00:00.023

trload_css: No m

[2015-11-13 02:19] gthompson commented on #39
However, this example fails:

[code]

Warning: some failure reading and interpreting the data for DH1:BHZ_01 at  7/31/2000 (213) 21:43:58.069

Warning: Waveform:load_antelope:trload_css failed

??? Error using dbclose

Usage: DBCLOSE ( DBPTR )

w =
  no waveform

[2015-11-13 02:21] gthompson commented on #39
This test fails also:

[code]

Warning: some failure reading and interpreting the data for AKT:HHZ at 11/16/2011 (320) 15:44:27.706

Warning: Waveform:load_antelope:trload_css failed

??? Error using dbclose

Usage: DBCLOSE ( DBPTR )

w =
  no waveform

[2015-11-18 21:17] gthompson commented on #33
Looks like it might now be failing on recent changes to scnlobject/ChannelTag:

[code]

Result:

Error using ChannelTag/set (line 254)
UPGRADE: using set for a ChannelTag. use field notation instead. eg. ch.station = X

Error in waveform/set (line 109)
            all_chantags = set([w.cha_tag],prop_name,val);

Error in load_antelope>traceToWaveform (line 411)
      allw(seg) = set(wBlank, ...

Er

[2015-11-18 21:46] CelsoReyes commented on #33
That code is designed to point out where upgrades can happen.  I used that
to make sure that correlation was more-or-less completely updated.

I'll change it to a warning, and will at some point include a flag to turn
it on and off.
-C

On Wed, Nov 18, 2015 at 10:17 PM, Glenn Thompson notifications@github.com
wrote:

[2015-11-18 21:49] CelsoReyes commented on #33
done

On Wed, Nov 18, 2015 at 10:46 PM, Celso Reyes celsoborealis@gmail.com
wrote:

[2015-12-17 18:47] gthompson opened #45 "Catalog webmap does not work if no magnitude data"
When using demo Seisan database, which has locations but not magnitudes, the color map is not set. So just need to set to cmap(1,:) in that case.

[2015-12-17 18:49] gthompson opened #46 "RSAM features"
- add tutorial

Ideas from INETER:
- stack, subtract & divide RSAM objects from each other
- same for mean frequency data as in Shishaldin paper
- plot Seisan catalog data on top of RSAM - make example

[2016-05-23 17:41] carltape commented on #39
% trload_css error example (station COR)
startTime = 7.338198148159491e+05;
endTime = 7.338198194455787e+05;
chan = 'BHZ_';
datestr(startTime)
scnl = scnlobject('_',chan,'','');
ds = datasource('uaf_continuous');
% OLD VERSION: returns nothing; NEW VERSION: returns 108 waveforms
w = waveform(ds,scnl,startTime,endTime); whos w
% OLD VERSION: returns 196 waveforms
w = waveform(ds,scnl,startTime,endT

[2016-06-14 20:46] gthompson opened #50 "winston waveserver"
Has anyone else had this error when accessing data from a Winston inside a parfor loop? The same error isn't generated if I run the same code serially (for loop).
I've had success using this method in the past, so not sure where the problem lies.

I'm running CentOS 6.3, Java version 1.7.0_25, and MATLAB R2015b.

Error using load_winston>getFromWinston (line 81)
Error using load_winston>getFromWin

[2016-07-09 12:37] gthompson opened #51 "Bug in correlation toolkit"
**An issue from Kyle Brill at MTU:**

I found a few issues with the GISMO correlation code that were throwing me errors. Not sure if this is the best way to let you know about them or not, but in case these could be useful to anyone else.

I'm using Matlab 2014b and I cloned the repository this morning.

1)

When plotting a correlation object using the 'DEND' option, I got this error:

I fixed the

[2016-07-09 12:43] gthompson commented on #51
Suggested changes committed and pushed on July 9, 2016.

[2016-07-09 12:43] #51 closed, assigned to nobody

[2016-09-15 11:38] rcabdia opened #52 "Problems installing Gismo"
Hello my name is Roberto,

I would like to install correctly GISMO  but I have a problema,
1. I copy in my directory c:/Sismica/Gismo-master and unzip the program here (following the instructions image 1).
2. I add the two lines indicated Image 2
3. I Run startup but Matlab give an error continuosly image 3, Pehaps because core and depreciated are Split??

So I need signal processing toolbox to ru

[2016-09-15 14:53] gthompson commented on #52
Hi Roberto,

The problem is that you put those two lines into startup_GISMO.m

They are supposed to go in startup.m, as the instructions say.

By putting them in startup_GISMO you are telling startup_GISMO to call
itself, which calls itself, ... an infinite loop.
- Glenn

On 15 September 2016 at 07:38, rcabdia notifications@github.com wrote:

[2016-09-16 09:56] rcabdia opened #53 "Working with a signal"
Hello,

Please, I would like to ask something about import sac files.

Now I ve run GISMO properlu an I loaded a sac file (this sac file come from a miniseed, and using a dataless and the program rdseed I transformed to sac)
1. The amplitud of this signal (Y-AXIS) it must be in m/s not in counts, right?? because i've used a dataless.
2. I ve download signal processing toolbox, but it is impossible

[2016-09-23 12:39] rcabdia opened #54 "response_apply"
How can I use the function response_apply with a sac file of poles&zeros?

I have also and script to extract the poles and zeros of this kind of sac files, but I don't know use the function  "response_apply" to deconvolve.

[2017-03-16 21:33] gthompson opened #55 "Fix correlation toolbox documentation"
Sypus, Matthew (NRCAN/RNCAN) <matthew.sypus@canada.ca>	16 March 2017 at 16:49
To: "glennthompson1971@gmail.com" <glennthompson1971@gmail.com>
Cc: Matthew Sypus <matthewcrs@gmail.com>
Hi Glenn Thompson,

I was wondering if it would be possible to fix the “correlation cookbook” link  (https://geoscience-community-codes.github.io/GISMO/tutorials/correlation/cookbook.html).

I just started my MSc prog

[2017-03-16 21:35] gthompson opened #56 "Plot record section"
Plotting record section
Glenn Thompson <thompsong@mail.usf.edu>	Wed, Mar 15, 2017 at 9:45 PM
To: Mo Mou <smousavi05@gmail.com>
Does not exist currently. But Carl Tape has his own library of GISMO add-ons, and that includes one. I think that might be hardwired for Alaska data. I can modify it so it works more generally.

On Mar 15, 2017 9:18 PM, "S.Mostafa Mousavi" <smousavi05@gmail.com> wrote:
yes

[2017-03-16 21:37] gthompson opened #57 "Broken tutorial links"
José Borges <jborges@uevora.pt>	Tue, Mar 7, 2017 at 10:17 AM
To: Glenn Thompson <thompsong@mail.usf.edu>
Hi Glenn

Here are the inactive links:

https://geoscience-community-codes.github.io/GISMO/tutorials/Arrival/cookbook.html

https://geoscience-community-codes.github.io/GISMO/tutorials/sacpz/cookbook.html

https://geoscience-community-codes.github.io/GISMO/tutorials/response/cookbook.html

http

[2017-03-16 21:38] gthompson opened #58 "Sample data & test suite"
Need to add the sample data into GISMO and also make sure the test suite works

[2017-03-28 22:32] gthompson commented on #55
Fixed - different URL.
Still have to fix occurrence plot - different issue.

[2017-03-28 22:32] #55 closed, assigned to nobody

[2017-03-28 22:34] #52 closed, assigned to nobody

[2017-03-28 22:37] gthompson commented on #32
I think this issue is essentially resolved now because:
w = clean(w)
which calls waveform/clean.m
is the way I am recommending to:
- remove spikes (single-sample spikes only)
- remove a linear trend from the data (in a NaN-tolerant way)
- remove a non-linear trend from the data (high pass filter at 20s)

[2017-03-28 22:37] #32 closed, assigned to nobody

[2017-03-28 22:39] gthompson commented on #57
These links are now either removed (they were placeholders for content to be added) or (for rsam) the link has been moved & updated.

[2017-03-28 22:39] #57 closed, assigned to nobody

[2017-03-28 22:41] gthompson commented on #39
I wrote a new, simpler version of waveform/private/load_antelope.m in May/June 2016, and this seems to have resolved these issues as intended.

[2017-03-28 22:41] #39 closed, assigned to nobody

[2017-03-28 22:44] gthompson commented on #53
Hi,

Please pose questions like this to the user group mailing list directly. Do not open them as issues because I am not notified of them. I just find this now, months later, and the link has expired anyway.

Thanks

Glenn

[2017-03-28 22:44] #53 closed, assigned to nobody

[2017-03-28 22:47] gthompson commented on #54
I'm not sure. Mike West originally wrote the response_apply code and I have not had time to fit this properly into GISMO and document it. I wrote the sacpz code, but I have not got as far as making it work with response_apply. This is a legitimate issue, thanks for raising.

[2017-03-28 22:48] gthompson commented on #58
Sample data has been added, though I still want to add better RSAM data. And I need to add a wiki page detailing how to get the testdata and run tests.

[2017-03-28 22:55] gthompson commented on #30
iceweb.waveform_wrapper already does this (and more). So it would be good to extract that code and make it part of waveform directly.

And I think my rebuild of waveform/private/load_antelope.m does this too (?)

The tricky part is dealing with wildcards. Again, waveform/private/load_antelope.m handles this, but to do this for other datasources is beyond scope.

[2017-03-28 22:55] gthompson commented on #27
Not very description, so closing this.

[2017-03-28 22:55] #27 closed, assigned to nobody

[2017-03-28 22:56] gthompson commented on #33
My rewrite of waveform/load_antelope.m solves this.

[2017-03-28 22:56] #33 closed, assigned to gthompson

[2017-03-28 22:57] gthompson commented on #26
NOt obvious to me why this is important. So closing it.

[2017-03-28 22:57] #26 closed, assigned to CelsoReyes

[2017-03-28 22:58] gthompson commented on #25
Not aware that any global variables are used anywhere, except perhaps in applications/+iceweb, and those are only in the real-time code, which is currently being bypassed.

This seems to be a dead issue.

[2017-03-28 22:58] #25 closed, assigned to nobody

[2017-03-28 23:00] gthompson commented on #21
This is working right now, so closing this.

[2017-03-28 23:00] #21 closed, assigned to nobody

[2017-03-28 23:00] #22 closed, assigned to nobody

[2017-03-28 23:01] gthompson commented on #23
I am exclusively using ChannelTag now, so closing this.

[2017-03-28 23:01] #23 closed, assigned to nobody

[2017-03-28 23:02] gthompson commented on #16
My rewrite of waveform/load_antelope.m seems to resolve this.
Not tried on a real-time database.

[2017-03-28 23:02] #16 closed, assigned to nobody

[2017-03-28 23:04] gthompson commented on #12
A good solution might be:
w=clean(w);

Before calling correlation(w)

[2017-03-28 23:04] #12 closed, assigned to nobody

[2017-03-28 23:08] gthompson commented on #14
My rewrite of waveform/load_antelope() seems to have fixed this too!

[2017-03-28 23:08] #14 closed, assigned to nobody

[2017-03-28 23:09] gthompson commented on #2
Forget this, just force users to adopt Catalog. It's way better!

[2017-03-28 23:09] #2 closed, assigned to gthompson

[2017-03-28 23:10] gthompson commented on #3
Closing issue since Celso has left the building.
Link is dead too.

[2017-03-28 23:10] #3 closed, assigned to nobody

[2017-03-28 23:10] gthompson commented on #4
Completed a long time ago!

[2017-03-28 23:10] #4 closed, assigned to CelsoReyes

[2017-03-28 23:11] gthompson commented on #5
Nothing specific, so closing this. Catalog.subset() seems to work okay.

[2017-03-28 23:11] #5 closed, assigned to nobody

[2017-03-28 23:12] gthompson commented on #6
Not sure this is needed, and Celso has left the building. This is definitely a low priority development idea, rather than a burning issue.

[2017-03-28 23:12] #6 closed, assigned to nobody

[2017-05-05 17:27] gthompson opened #59 "Catalog not subsetting magnitudes properly"
Hello Dr. Thompson,

My name is Marlon and I'm a MS Geophysics grad student at Boise State looking at an Alaska earthquake catalog.

I've installed GISMO and it's working great at helping me quantify the robustness at the earthquake catalog I am interested. However, I was wondering if there is a way of using GISMO to produce a map of b-values (map view, not just the standard G-R relationship), whi

[2017-11-10 22:07] haitaoBillow opened #60 "DEMO data no longer available"
I check the  website http://geoscience-community-codes.github.io/GISMO/testdata.html
in the download section. The file is not found.

[2018-12-01 21:19] dylanmikesell opened #61 "get(w,'Channel') returns different types"
I noticed a funky behavior today that was breaking my code. If a waveform object has multiple waveforms, then
`get(w,'Channel') `
returns a cell array that contains the string 'BH?'.
However, if the waveform object has 1 waveform, then
`get(w,'Channel') `
returns a string array.
I suggest that this function call always return a cell array. When looking at the return of a waveform that has 3 object

[2019-03-25 12:50] ndazzi opened #62 "Loading of Catalog files"
Hello,
I have a problem opening Catalog files.
The Catalog files have been created with another PC. I copied them from that PC (Mac, MATLAB R2018a) to my Laptop (Windows 10, MATLAB R2018a and R2019a). There is no loss of information due to the copying as the files have the same size. When I load a file there is no reading of the variables and they remain empty.

<img width="132" alt="Capture" src=

[2019-03-28 08:37] ndazzi commented on #62
Now it works but with an older GISMO version (January 2017)

[2021-05-04 15:31] gthompson opened #63 "Correlation class: Check sign of anti-correlated waveforms"
Email from Tom Winder on 5/4/2021:
It just occurred to me to check the behaviour of GISMO with respect to the correlation of anti-correlated waveforms. My understanding from briefly inspecting the code is that it will return a positive correlation coefficient in both cases.. though I am not confident in this. Please could you clarify?